
<script>

// Text to speech
function textTospeech(text, callback)
{
    var speech = new SpeechSynthesisUtterance();
    speech.text = text;
    speech.lang = 'en-GB';
    speech.rate=1;

    speech.onend = function () {
        if (callback) {
            callback();
        }
    };

    speech.onerror = function (e) {
        if (callback) {
            callback(e);
        }
    };

    speechSynthesis.speak(speech);
}
</script>
{% extends 'includes/_speechRecogniser.html' %}
{% block body %}

<div class="col-md-6">
  <div class="p-3 mb-2 bg-grey text-white">
  <h1><i class="fa fa-cog fa-spin fa-2x fa-fw"> </i>Dashboard &nbsp;<small> Welcome {{session.userName}}</small></h1>
    <h4>
      <center>
        <i class ="fa fa-quote-left fa-fw"></i>This is your smart Home Assistant,<br /><br />
          Press the Mic Icon on the right handside of the page<br /> to start Voice Recogniser. <br /><br />
          Please state the location of the device to get maximal Result. <br />
          For Example Say: 'Turn the Living ROOM light ON' or <br />Simply 'Living room light ON'<br /><br />
          {% if session.logged_in %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
          //$("#buttonSpeech").trigger("click");

          text="welcome";
          textTospeech(text);
          </script>
          {% endif %}
        <i class="fa fa-quote-right fa-fw"></i>
      </center>
    </h4>
  </div>
</div>
<div id ="result" class="col-md-6">
    <form action="" method="GET">
      <input type="text" name="userInput" id="userOrder" contenteditable="true" class="form-control input-lg" />
    </form>
    <center>
      <br />
        <button class="align-bottom" id="buttonSpeech" onclick="startConverting();">
        <i class="fa fa-microphone fa-2x"></i>
        </button>
    </center>
</div>
<div id ="middle" class="col-md-6">
</div>
<div id ="finalResult" class="col-md-6">
    <form id ="submit" action="control" method="POST">
      <input type="text" name="uInput" id="uOrder" contenteditable="false" class="form-control input-lg" /><br />
        <center><input type="button" name="myButton" class="btn btn-primary btn-block" value="Submit" /></center>
    </form>
</div>



<script>

document.addEventListner("click",startConverting());

//Speech to Text


function startConverting()
{
    if ('webkitSpeechRecognition' in window)
    {

      var VoiceListener =new webkitSpeechRecognition();
      VoiceListener.continuous=false;
      VoiceListener.interimResults=true;
      VoiceListener.lang='en.GB';
      VoiceListener.start();
      var finalTranscripts = '';
	    VoiceListener.onresult = function(event)
	    {
        var finalTranscripts = '';
        var interimTranscripts = '';
	       for (var i=event.resultIndex; i< event.results.length; i++)
		        {
		            var transcript =event.results[i][0].transcript;
		              transcript.replace("\n", "<br>");
			               if(event.results[i].isFinal)
			                  {
				                      finalTranscripts+=transcript;
			                  }
			               else
			                  {
				                   interimTranscripts+=transcript;
			                  }
		         }
                            document.getElementById("userOrder").value=finalTranscripts;

                            var str = document.getElementById("userOrder").value;
                            if (str!="")

                      {
                            if ((str.match(/bed/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
                            {
                              s= "BedROOM-LIGHT-ON";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
                            {
                            	s = "BedROOM-LIGHT-ON";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/lamp/gi)) && (str.match(/on/gi)))
                            {
                            		s= "BedROOM-LIGHT-ON";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
                            {
                            	s= "BedROOM-LIGHT-OFF";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
                            {
                            	s= "BedROOM-LIGHT-OFF";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/lamp/gi)) && (str.match(/off/gi)))
                            {
                            	s= "BedROOM-LIGHT-OFF";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
                            {
                            	s= "BedROOM-HEATER-ON";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
                            {
                            	s= "BedROOM-HEATER-OFF";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
                            {
                            	s= "BedROOM-HEATER-ON";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
                            {
                            	s= "BedROOM-HEATER-OFF";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
                            {
                            	s= "BedROOM-HEATER-OFF";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
                            {
                            	s= "BedROOM-HEATER-ON";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
                            {
                            	s= "BedROOM-HEATER-ON";
                            }
                            else if ((str.match(/bed/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
                            {
                            	s= "BedROOM-HEATER-OFF";
                            }
                            //livingROOM
                            else if ((str.match(/living/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
                            {
                            s="LivingROOM-LIGHT-ON";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
                            {
                            	s= "LivingROOM-LIGHT-ON";
                            }

                            else if ((str.match(/living/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
                            {
                            	s= "LivingROOM-LIGHT-OFF";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
                            {
                            	s= "LivingROOM-LIGHT-OFF";
                            }

                            else if ((str.match(/cor/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
                            {
                            s="Corridor-LIGHT-ON";
                            }
                            else if ((str.match(/corridor/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
                            {
                            	s= "Corridor-LIGHT-ON";
                            }

                            else if ((str.match(/cor/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
                            {
                            	s= "Corridor-LIGHT-OFF";
                            }
                            else if ((str.match(/corridor/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
                            {
                            	s= "Corridor-LIGHT-OFF";
                            }

                            else if ((str.match(/living/gi)) &&(str.match(/lamp/gi)) && (str.match(/on/gi)))
                            {
                            	s= "LivingROOM-LAMP-ON";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/lamp/gi)) && (str.match(/off/gi)))
                            {
                            	s= "LivingROOM-LAMP-OFF";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
                            {
                            	s= "LivingROOM-HEATER-ON";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
                            {
                            	s= "LivingROOM-HEATER-OFF";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
                            {
                            	s= "LivingROOM-HEATER-ON";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
                            {
                            	s= "LivingROOM-HEATER-OFF";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
                            {
                            	s= "LivingROOM-HEATER-OFF";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
                            {
                            	s= "LivingROOM-HEATER-ON";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
                            {
                            	s= "LivingROOM-HEATER-ON";
                            }
                            else if ((str.match(/living/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
                            {
                            	s= "LivingROOM-HEATER-OFF";
                            }
                            //Kitchen
                            else if ((str.match(/kitchen/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
                            {
                            s="KitchenROOM-LIGHT-ON";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
                            {
                            	s= "KitchenROOM-LIGHT-ON";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
                            {
                            	s= "KitchenROOM-LIGHT-OFF";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
                            {
                            	s= "KitchenROOM-LIGHT-OFF";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
                            {
                            	s= "KitchenROOM-HEATER-ON";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
                            {
                            	s= "KitchenROOM-HEATER-OFF";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
                            {
                            	s= "KitchenROOM-HEATER-ON";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
                            {
                            	s= "KitchenROOM-HEATER-OFF";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
                            {
                            	s= "KitchenROOM-HEATER-OFF";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
                            {
                            	s= "KitchenROOM-HEATER-ON";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
                            {
                            	s= "KitchenROOM-HEATER-ON";
                            }
                            else if ((str.match(/kitchen/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
                            {
                            	s= "KitchenROOM-HEATER-OFF";
                            }
                            else if ((str.match(/micro/gi)) && ((str.match(/on/gi)) || (str.match(/start/gi))))
                            {
                            	s= "Microven-ON";
                            }
                            else if ((str.match(/cook/gi))  &&((str.match(/on/gi)) || (str.match(/start/gi))))
                            {
                            	s= "Microven-ON";
                            }
                            else if ((str.match(/micro/gi)) &&((str.match(/of/gi)) || (str.match(/off/gi))))
                            {
                            	s= "Microven-OF";
                            }
                            else if ((str.match(/stove/gi)) &&((str.match(/of/gi)) || (str.match(/off/gi))))
                            {
                            	s= "Microven-OF";
                            }
                            else if ((str.match(/micro/gi)) && ((str.match(/of/gi)) || (str.match(/off/gi))))
                            {
                            	s= "Microven-OF";
                            }
                            else if ((str.match(/cook/gi))  &&((str.match(/of/gi)) || (str.match(/off/gi))))
                            {
                            	s= "Microven-OFF";
                            }
                            else if ((str.match(/micro/gi)) &&((str.match(/of/gi)) || (str.match(/off/gi))))
                            {
                            	s= "Microven-OFF";
                            }
                            else if ((str.match(/stove/gi)) &&((str.match(/of/gi)) || (str.match(/off/gi))))
                            {
                            	s= "Microven-OFF";
                            }
                            else if ((str.match(/kitchen/gi)) && ((str.match(/door/gi)) || (str.match(/enter/gi)) || (str.match(/get/gi))) && ((str.match(/unarm/gi))|| (str.match(/open/gi))|| (str.match(/unlock/gi))||(str.match(/access/gi))||(str.match(/open/gi))))
                            {
                            	s= "KitchenDoor-Unlock";
                            }
                            else if ((str.match(/kitchen/gi)) && ((str.match(/door/gi)) || (str.match(/enter/gi)) || (str.match(/get/gi))) && ((str.match(/arm/gi))||(str.match(/close/gi))||(str.match(/shut/gi))||(str.match(/lock/gi))))
                            {
                            	s= "KitchenDoor-lock";
                            }

                            else if ((str.match(/kettle/gi))  && (str.match(/on/gi)))
                            {
                            	s= "Kettle-ON";
                            }
                            else if ((str.match(/pot/gi)) && (str.match(/on/gi)))
                            {
                            	s= "Kettle-ON";
                            }
                            else if ((str.match(/boiler/gi)) && (str.match(/on/gi)))
                            {
                            	s= "Kettle-ON";
                            }

                            else if ((str.match(/kettle/gi))  && (str.match(/off/gi)))
                            {
                            	s= "Kettle-OFF";
                            }
                            else if ((str.match(/pot/gi)) && (str.match(/off/gi)))
                            {
                            	s= "Kettle-OFF";
                            }
                            else if ((str.match(/boiler/gi)) && (str.match(/off/gi)))
                            {
                            	s= "Kettle-OFF";
                            }

                            else if ((str.match(/music/gi)) && (str.match(/on/gi)))
                            {
                            	s= "Music-ON";
                            }
                            else if ((str.match(/music/gi)) && (str.match(/start/gi)))
                            {
                            	s= "Music-ON";
                            }
                            else if ((str.match(/start/gi)) && (str.match(/radio/gi)))
                            {
                            	s= "Music-ON";
                            }
                            else if ((str.match(/start/gi)) && (str.match(/play/gi)))
                            {
                            	s= "Music-ON";
                            }
                            else if ((str.match(/play/gi)) && (str.match(/music/gi)))
                            {
                            	s= "Music-ON";
                            }
                            else if ((str.match(/play/gi)) && (str.match(/radio/gi)))
                            {
                            	s= "Music-ON";
                            }
                            else if ((str.match(/FM/gi)) && (str.match(/on/gi)))
                            {
                            	s= "Music-ON";
                            }
                            else if ((str.match(/play/gi)) && (str.match(/on/gi)))
                            {
                            	s= "Music-ON";
                            }

                            else if ((str.match(/music/gi)) && (str.match(/off/gi)))
                            {
                            	s= "Music-OFF";
                            }
                            else if ((str.match(/stop/gi)) && (str.match(/music/gi)))
                            {
                            	s= "Music-OFF";
                            }
                            else if ((str.match(/stop/gi)) && (str.match(/radio/gi)))
                            {
                            	s= "Music-OFF";
                            }
                            else if ((str.match(/FM/gi)) && (str.match(/of/gi)))
                            {
                            	s= "Music-OFF";
                            }
                            else if ((str.match(/play/gi)) && (str.match(/of/gi)))
                            {
                            	s= "Music-OFF";
                            }

                          //  else if (((str.match(/kettle/gi)) && (str.match(/on/gi))) || ((str.match(/boil/gi)) || (str.match(/on/gi))) ||((str.match(/pot/gi))&&(str.match(/on/gi))))
                          //  {
                            //	s= "Kettle-ON";
                          //  }
                          //  else if (((str.match(/kettle/gi)) && (str.match(/off/gi))) || ((str.match(/boil/gi)) || (str.match(/off/gi))) ||((str.match(/pot/gi))&&(str.match(/off/gi))))
                            //{
                            	//s= "Kettle-OFF";
                            //}

                         else
                            {

                              //text="No Command has Received,try again";
                              //textTospeech(text);
                              //setTimeout(location.reload(),3000);
                              //driver.get("http://localhost:5000/control");
                              //driver.navigate().refresh();
                              location.reload();
                            }
                            document.getElementById("uOrder").value=s;
                            VoiceListener.stop();
                            document.getElementById("submit").submit();
                            //driver.navigate().refresh();
                            //setTimeout("location.reload(true);", 3000);
                            //ThomasListening()

                        }






        }
        VoiceListener.onerror=function(event)

        {
        /*  if(event.error=='no-speech')
          {
              document.getElementById("uOrder").value='No Speech Detected, Please Try again';
              document.getElementById("userOrder").value='Tap the Mic to try again';
              location.reload();
          }
          */
          //text="No speech Detected, Please try again";
          //textTospeech(text);
          location.reload();
        }
        VoiceListener.onstart=function(event)
        {
          document.getElementById("userOrder").value= '...Listenning. Try speaking';
          document.getElementById("uOrder").value= '';
        }


    }
    else
     {
        document.getElementById("userOrder").value="your Browser is not supported";
     }
}



    //document.forms[1].submit();
    //document.getElementById("submit").submit();
    //document.getElementById("uOrder").value="";

</script>
{% endblock %}
