else if ((str.match(/bed/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
{
	s = "BedROOM-LIGHT-ON";
}
else if ((str.match(/bed/gi)) &&(str.match(/lamp/gi)) && (str.match(/on/gi)))
{
		s= "BedROOM-LIGHT-ON";
}
else if ((str.match(/bed/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
{
	s= "BedROOM-LIGHT-OFF";
}
else if ((str.match(/bed/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
{
	s= "BedROOM-LIGHT-OFF";
}
else if ((str.match(/bed/gi)) &&(str.match(/lamp/gi)) && (str.match(/off/gi)))
{
	s= "BedROOM-LIGHT-OFF";
}
else if ((str.match(/bed/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
{
	s= "BedROOM-HEATER-ON";
}
else if ((str.match(/bed/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
{
	s= "BedROOM-HEATER-OFF";
}
else if ((str.match(/bed/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
{
	s= "BedROOM-HEATER-ON";
}
else if ((str.match(/bed/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
{
	s= "BedROOM-HEATER-OFF";
}
else if ((str.match(/bed/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
{
	s= "BedROOM-HEATER-OFF";
}
else if ((str.match(/bed/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
{
	s= "BedROOM-HEATER-ON";
}
else if ((str.match(/bed/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
{
	s= "BedROOM-HEATER-ON";
}
else if ((str.match(/bed/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
{
	s= "BedROOM-HEATER-OFF";
}
//livingROOM
else if ((str.match(/living/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
{
s="LivingROOM-LIGHT-ON";
}
else if ((str.match(/living/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
{
	s= "LivingROOM-LIGHT-ON";
}
else if ((str.match(/living/gi)) &&(str.match(/lamp/gi)) && (str.match(/on/gi)))
{
	s= "LivingROOM-LIGHT-ON";
}
else if ((str.match(/living/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
{
	s= "LivingROOM-LIGHT-OFF";
}
else if ((str.match(/living/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
{
	s= "LivingROOM-LIGHT-OFF";
}
else if ((str.match(/living/gi)) &&(str.match(/lamp/gi)) && (str.match(/off/gi)))
{
	s= "LivingROOM-LIGHT-OFF";
}
else if ((str.match(/living/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
{
	s= "LivingROOM-HEATER-ON";
}
else if ((str.match(/living/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
{
	s= "LivingROOM-HEATER-OFF";
}
else if ((str.match(/living/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
{
	s= "LivingROOM-HEATER-ON";
}
else if ((str.match(/living/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
{
	s= "LivingROOM-HEATER-OFF";
}
else if ((str.match(/living/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
{
	s= "LivingROOM-HEATER-OFF";
}
else if ((str.match(/living/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
{
	s= "LivingROOM-HEATER-ON";
}
else if ((str.match(/living/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
{
	s= "LivingROOM-HEATER-ON";
}
else if ((str.match(/living/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
{
	s= "LivingROOM-HEATER-OFF";
}
//Kitchen
else if ((str.match(/kitchen/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
{
s="KitchenROOM-LIGHT-ON";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
{
	s= "KitchenROOM-LIGHT-ON";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
{
	s= "KitchenROOM-LIGHT-OFF";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
{
	s= "KitchenROOM-LIGHT-OFF";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
{
	s= "KitchenROOM-HEATER-ON";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
{
	s= "KitchenROOM-HEATER-OFF";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
{
	s= "KitchenROOM-HEATER-ON";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
{
	s= "KitchenROOM-HEATER-OFF";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
{
	s= "KitchenROOM-HEATER-OFF";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
{
	s= "KitchenROOM-HEATER-ON";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
{
	s= "KitchenROOM-HEATER-ON";
}
else if ((str.match(/kitchen/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
{
	s= "KitchenROOM-HEATER-OFF";
}
else if ((str.match(/micro/gi)) && ((str.match(/on/gi)) || (str.match(/start/gi))))
{
	s= "Microven-ON";
}
else if ((str.match(/cook/gi))  &&((str.match(/on/gi)) || (str.match(/start/gi))))
{
	s= "Microven-ON";
}
else if ((str.match(/micro/gi)) &&((str.match(/of/gi)) || (str.match(/off/gi))))
{
	s= "Microven-OF";
}
else if ((str.match(/stove/gi)) &&((str.match(/of/gi)) || (str.match(/off/gi))))
{
	s= "Microven-OF";
}
else if ((str.match(/micro/gi)) && ((str.match(/of/gi)) || (str.match(/off/gi))))
{
	s= "Microven-OF";
}
else if ((str.match(/cook/gi))  &&((str.match(/of/gi)) || (str.match(/off/gi))))
{
	s= "Microven-OFF";
}
else if ((str.match(/micro/gi)) &&((str.match(/of/gi)) || (str.match(/off/gi))))
{
	s= "Microven-OFF";
}
else if ((str.match(/stove/gi)) &&((str.match(/of/gi)) || (str.match(/off/gi))))
{
	s= "Microven-OFF";
}
else if ((str.match(/kitchen/gi)) && ((str.match(/door/gi)) || (str.match(/enter/gi)) || (str.match(/get/gi))) && ((str.match(/unarm/gi))|| (str.match(/open/gi))|| (str.match(/unlock/gi))||(str.match(/access/gi))||(str.match(/open/gi))))
{
	s= "KitchenDoor-Unlock";
}
else if ((str.match(/kitchen/gi)) && ((str.match(/door/gi)) || (str.match(/enter/gi)) || (str.match(/get/gi))) && ((str.match(/arm/gi))||(str.match(/close/gi))||(str.match(/shut/gi))||(str.match(/lock/gi))))
{
	s= "KitchenDoor-lock";
}

##################################################################


{% extends 'speechRecogniser.html' %}

{% block body %}

<h4> <center>Press the Mic Icon to start Voice Recognition</center> </h4>
<div id ="result">
	<form id = "" action="" method="POST">
		<input type="text" name="userOrder" id="userOrder"class="form-control input-lg" placeholder="...speak" />
		<button onclick="startConverting();"><i class="fa-microphone"></i></button>
	</form>
</div>

<div id ="middle"></div>
<div id ="finalResult">
	<form action="" method="POST" id="">
		<input type= "text" id="uOrder" name="uOrder" class="form-control input-lg" placeholder="" />
	</form>
</div>
<script>

function textTospeech(text, callback)
{
    var speech = new SpeechSynthesisUtterance();
    speech.text = text;
    speech.lang = 'en-GB';
    speech.rate=1;

    speech.onend = function () {
        if (callback) {
            callback();
        }
    };

    speech.onerror = function (e) {
        if (callback) {
            callback(e);
        }
    };

    speechSynthesis.speak(speech);
}

	function startConverting()
	{

		if ('webkitSpeechRecognition' in window)
		{

					var VoiceListener =new webkitSpeechRecognition();
					VoiceListener.continuous=true;
					VoiceListener.interimResults=true;
					VoiceListener.lang='en.GB';
					VoiceListener.start();

					var finalTranscripts = '';

					VoiceListener.onresult = function(event)
					{
						var interimTranscripts = '';
						for (var i=event.resultIndex; i< event.results.length; i++)
						{
							var transcript =event.results[i][0].transcript;
							transcript.replace("\n", "<br>");
							if(event.results[i].isFinal)
							{
								finalTranscripts+=transcript;
							}
							else
							{
								interimTranscripts+=transcript;
							}

						}


					}
					VoiceListener.onerror=function(event)
					{
						if(event.error=='no-speech'){
						document.getElementById("uOrder").innerHTML='No Speech Detected, Please Try again';
						document.getElementById("userOrder").innerHTML='Tap the Mic to try again';
					}
					}
					VoiceListener.onstart=function(event)
					{
						document.getElementById("userOrder").innerHTML= '<span style:"color=#999">' + '...Listenning. Try speaking';
					}
					}


				else
				{
					document.getElementById("userOrder").innerHTML="your Browser is not supported";
				}
		}

		///////////////////////

		document.getElementById("userOrder").innerHTML=finalTranscripts + '<span style="color:#999">' + interimTranscripts +'</span>';
		var str = interimTranscripts;

//BedROOM
						if ((str.match(/bed/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
						{
							text="Do you want to turn the BedROOM Light ON?";
				      textTospeech(text);
				      document.getElementById("uOrder").value= text;

				      document.getElementById("userOrder").value= "";
				      //str="";
				      //startConverting();
				      if ((str.match(/yes/gi)) ||(str.match(/yap/gi))||(str.match(/ok/gi))|| (str.match(/go/gi)) || (str.match(/yep/gi)))
				        {
				          text="turning the light On";
				          textTospeech(text);
				          s="BedROOM-LIGHT-ON"
				        }
						order="BedROOM-LIGHT-ON";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
						{
						order= "BedROOM-LIGHT-ON";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
						{
						order= "BedROOM-LIGHT-OFF";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
						{
						order= "BedROOM-LIGHT-OFF";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
						{
						order= "BedROOM-HEATER-ON";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
						{
						order= "BedROOM-HEATER-OFF";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
						{
						order= "BedROOM-HEATER-ON";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
						{
						order= "BedROOM-HEATER-OFF";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
						{
						order= "BedROOM-HEATER-OFF";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
						{
						order= "BedROOM-HEATER-ON";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
						{
						order= "BedROOM-HEATER-ON";
						}
						else if ((str.match(/bed/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
						{
						order= "BedROOM-HEATER-OFF";
						}
						//livingROOM
						if ((str.match(/living/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
						{
						order="LivingROOM-LIGHT-ON";
						}
						else if ((str.match(/living/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
						{
						order= "LivingROOM-LIGHT-ON";
						}
						else if ((str.match(/living/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
						{
						order= "LivingROOM-LIGHT-OFF";
						}
						else if ((str.match(/living/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
						{
						order= "LivingROOM-LIGHT-OFF";
						}
						else if ((str.match(/living/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
						{
						order= "LivingROOM-HEATER-ON";
						}
						else if ((str.match(/living/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
						{
						order= "LivingROOM-HEATER-OFF";
						}
						else if ((str.match(/living/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
						{
						order= "LivingROOM-HEATER-ON";
						}
						else if ((str.match(/living/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
						{
						order= "LivingROOM-HEATER-OFF";
						}
						else if ((str.match(/living/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
						{
						order= "LivingROOM-HEATER-OFF";
						}
						else if ((str.match(/living/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
						{
						order= "LivingROOM-HEATER-ON";
						}
						else if ((str.match(/living/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
						{
						order= "LivingROOM-HEATER-ON";
						}
						else if ((str.match(/living/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
						{
						order= "LivingROOM-HEATER-OFF";
						}
						//Kitchen
						if ((str.match(/kitchen/gi)) && (str.match(/light/gi)) && (str.match(/on/gi)))
						{
						order="KitchenROOM-LIGHT-ON";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/bulb/gi)) && (str.match(/on/gi)))
						{
						order= "KitchenROOM-LIGHT-ON";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/bulb/gi)) && (str.match(/off/gi)))
						{
						order= "KitchenROOM-LIGHT-OFF";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/light/gi)) && (str.match(/off/gi)))
						{
						order= "KitchenROOM-LIGHT-OFF";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/heater/gi)) && (str.match(/on/gi)))
						{
						order= "KitchenROOM-HEATER-ON";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/heater/gi)) && (str.match(/off/gi)))
						{
						order= "KitchenROOM-HEATER-OFF";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/ac/gi)) && (str.match(/on/gi)))
						{
						order= "KitchenROOM-HEATER-ON";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/ac/gi)) && (str.match(/off/gi)))
						{
						order= "KitchenROOM-HEATER-OFF";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/aircon/gi)) && (str.match(/off/gi)))
						{
						order= "KitchenROOM-HEATER-OFF";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/aircon/gi)) && (str.match(/on/gi)))
						{
						order= "KitchenROOM-HEATER-ON";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/on/gi)))
						{
						order= "KitchenROOM-HEATER-ON";
						}
						else if ((str.match(/kitchen/gi)) &&(str.match(/air/gi)) && (str.match(/condition/gi)) && (str.match(/off/gi)))
						{
						order= "KitchenROOM-HEATER-OFF";
						}

						else
						{
						//document.getElementById("finalResult").innerHTML= "No Command is Received, Please try again";
						}

						if  (finalTranscripts!=="")
						{
						document.getElementById("uOrder").innerHTML=order + "\n";
						}
</script>


{% endblock %}
